* {
	font-family: Oswald;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.main {
	display: grid;
	grid-template-columns: 300px 1fr;
}

.link {
	color: white;
	margin: 0 3.3px;
}

.container {
	margin: 0 85.5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aside {
	position: relative;
	top: 0;

	.navigation-box {
		position: fixed;
		top: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background-color: #2d3e4f;
		padding: 0 85px;
		.logo {
			font-size: 30px;
			font-style: normal;
			font-weight: normal;
			line-height: 25px;

			text-transform: uppercase;

			color: #cf404d;
			cursor: pointer;
		}
		.navbar {
			display: flex;
			flex-direction: column;
			align-items: center;

			&__item {
				text-transform: uppercase;
				text-decoration: none;
				margin: 40px 0;
				color: white;
				&:hover {
					color: #cf404d;
				}
			}
		}
		.social__links {
			display: flex;
			list-style-type: none;
		}
	}
}

.content {
	width: 100%;
}

section {
	//height: 100vh;
	padding: 60px 0;
}

.top-title {
	text-align: center;
	font-size: 50px;
	line-height: 44px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: white;
}

.btn {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;

	border: 2px solid white;
	border-radius: 5px;

	padding: 15px 22px;

	background-color: transparent;
	color: white;

	cursor: pointer;

	transition: all 0.3s;
	&:hover {
		border: 2px solid #cf404d;
		box-shadow: 0px 2px 3px black;

		background-color: #cf404d;
	}
}

.button-box {
	display: flex;
	justify-content: center;
	margin-top: 35px;
	.btn {
		margin: 0 5px;
	}
}

.title {
	margin-bottom: 22px;

	font-size: 31px;
	line-height: 36px;

	text-align: center;
	text-transform: uppercase;

	color: #313131;
}

.sub-title {
	font-size: 19px;
	line-height: 30px;

	color: rgba(115, 115, 115, 0.74);
}

.section-top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;

	background-image: url("../assets/bg/girl.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.section-heading {
	.cards {
		display: flex;
		justify-content: center;
		margin: 75px 0;
		.card {
			margin: 0 10.5px;
			.img-box {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: column;
				height: 100px;
				width: 100px;
			}
			&__title {
				font-size: 18px;
				line-height: 30px;
				color: #313131;

				margin: 20px 0 0 0;
			}
			&__desc {
				font-size: 15px;
				line-height: 20px;
				margin: 10px 0;
				color: rgba(0, 0, 0, 0.74);
			}
			&__link {
				color: #cf404d;
				transition: all 0.5s;
				&:hover {
					transform: scale(2, 1);
					text-shadow: 1px 1px 10px red;
				}
			}
		}
	}
	.section-info {
		height: 135px;
		background-color: #cf404d;
		padding: 0;
		.container {
			height: 100%;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.info-text {
				font-size: 31px;
				line-height: 36px;
				color: white;
			}
		}
	}
}

.section-lightbox {
	.cards {
		display: flex;
		justify-content: center;
		gap: 10px;
		flex-wrap: wrap;

		margin: 70px 0;

		.card {
			img {
				transition: 0.3s;
				opacity: 0.5;
				&:hover {
					opacity: 1;
					box-shadow: 1px 1px 15px #2d3e4f;
					transform: scale(1.3) translate(0%, -15%);
				}
			}
		}
	}
}

.section-contact {
	background-color: #fafafa;
	form {
		display: flex;
		flex-direction: column;
		margin-top: 60px;
		.input__box {
			margin-bottom: 17px;
			input {
				padding: 15px 30px;
				border: none;
				border-radius: 3px;
				&:nth-child(1) {
					margin-right: 20px;
				}
			}
		}
		.textarea {
			padding: 20px 30px;
			border: none;
			border-radius: 3px;
		}
		.form__btn {
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 21px;

			border: none;
			border-radius: 5px;

			margin-top: 17px;
			padding: 15px 22px;

			color: white;
			background-color: #cf404d;

			cursor: pointer;

			transition: all 0.3s;
			&:hover {
				box-shadow: 0px 2px 3px black;
			}
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	&__title {
		margin: 25px 0;
		font-size: 16px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.74);
	}
}

// Media

@media (max-width: 960px) {
	.main {
		grid-template: 100px 1fr / 1fr;
	}

	.aside {
		position: fixed;
		.navigation-box {
			flex-direction: row;
			width: 100%;
			height: initial;
			padding: 30px 0;
			.navbar {
				flex-direction: row;
				&__item {
					margin: 0 10px;
				}
			}
			.social__links {
				display: none;
			}
		}
	}
}
